<h1><%= t('.title')%></h1>

<div id="posts-list">
  <% if @posts.nil? %>
    <h3> Posts not found </h3>
  <% else %>
    <%= render @posts %>
  <% end %>
</div>


<div class="digg_pagination pagination">
	<%= will_paginate @posts, :container => false unless @posts.nil? %>
</div>

<script>
$(function(){
   $('.pagination a').attr('data-remote', 'true')
});
</script>
